body
  font-size 16px
  background-color #303335
  color white

header

  margin 5px auto
  /*  border-radius 1px;
  box-shadow 1em;*/

.tabla
  margin 40px auto
  padding 5px

label
  float left
  font-family 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif
  font-style normal
  font-weight normal
  font-size 20px
  text-align right
  width 140px

/*"Input" classes and pseudoclasses*/
input
  border solid 2px #000
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 18px
  border-radius 1px solid #CCC
  width 200px
  min-height 26px
  display block
  margin 2px 2px 20px 10px
  padding 4px 2px
  width 250px
  /*Browsers radius validation*/
  -webkit-border-radius 5px
  -moz-border-radius 5px
  -o-border-radius 5px
  -ms-border-radius 5px
  border-radius 5px

inputfocus
  box-shadow 0px 0px 3pt 2pt #6CC

inputvalid
  background-color #ddffdd

#boton
  background inherit
  color white
  font-size 18px
  margin-left 148px
  height 31px
  width 125px

#logo
  margin 1em

/*Menu*/
.nav
  /*float right;*/
  display inline-block
  height 48px
  list-style none

.nav li,
.active
  float left
  position relative
  margin 0 0 4px
  height 44px
  color #ccc
  text-shadow 0 1px rgba(0,0,0,.0.8)
  background-color rgba(0,0,0,0.5)
  border 1px solid #232428
  border-bottom-color #1f2326
  background-image -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0))
  background-image -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0))
  background-image -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0))
  background-image -o-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0))
  background-image linear-gradient(to bottom, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0))
  -webkit-box-shadow inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 2px #262a2e, 0 3px #1f2326, 0 4px 3px rgba(0, 0, 0, 0.2)
  box-shadow inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 2px #262a2e, 0 3px #1f2326, 0 4px 3px rgba(0, 0, 0, 0.2)

.nav  lihover
  color #DF1717
  text-shadow 0 1px black, 0 0 20px rgba(255, 255, 255, 0.5)

.nav li a
  color inherit
  display block
  font-size 22px
  font-weight bold
  line-height 44px
  padding 0 20px
  text-decoration none
  outline 0

/*End Menu*/
