/* normalize.css v3.0.0 | MIT License | git.io/normalize */
html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

body
  margin: 0

article,
header,
section
  display block

b,
strong
  font-weight bold

h1
  font-size: 2em
  margin: .67em 0
  overflow: hidden

figure
  margin: 1em 40px

hr
  margin-top 70px

@font-face
  font-family: 'sfotipy'
  src: url("../fonts/sfotipy.eot?kt9bol")
  src: url("../fonts/sfotipy.eot?#iefixkt9bol") format('embedded-opentype'), url("../fonts/sfotipy.woff?kt9bol") format('woff'), url("../fonts/sfotipy.ttf?kt9bol") format('truetype'), url("../fonts/sfotipy.svg?kt9bol#sfotipy") format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"],
[class*=" icon-"]
  font-family: 'sfotipy'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-menu:before
  content: "\e60e"

a
  text-decoration: none

body
  font-family: 'Varela Round', sans-serif
  font-size: 16px

figure
  margin: 0

img
  vertical-align: top
.banda
  text-align center
  margin-top -80px

.button-menu
  color: #333
  left: .5em
  margin-top: -10px
  position: absolute
  top: 50%


.border-bottom
  border-bottom: 1px solid #818181

.container
  padding: 1em 
  position relative

.etiqueta
  margin-top -84px
  padding 40px

.header 
  height: 3.5em
  
  .title
    font-size: 1.1em
    line-height: 3.5em
    margin: 0
    text-align: center

.menu
  display: none

.relative
  position: relative

.padding
  padding: 1em

.portada
  border 0
  overflow hidden

.right
  float right
.left
  float




